body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.container{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin: 0 auto;
}

.topnav {
    height: 60px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #230bbb;
    text-align: center;
    padding: 17.6px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.topnav a:hover {
    background-color: lightgray;
    color: black;   
}

* {
    box-sizing: border-box;
  }
  
  .columns {
    float: left;
    width: 100%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: #230bbb;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
